<ion-header [translucent]="true">
  <ion-toolbar class="background-color-blue">
    <ion-title>
      Pagina principal
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-card>
    <ion-card-header>
      <ion-card-subtitle></ion-card-subtitle>
      <ion-card-title>Registro de asistencia bienvenido {{ nombreUsuario }} </ion-card-title>
      
      
    </ion-card-header>
    <img src="/assets/logoduoc.png" alt="">
    <ion-card-content>
      {{texto}}

      <ion-label>
      
        <ion-button expand="block" shape ="round" (click)="ingresaractu()" >Actualizar Datos <ion-icon name="arrow-forward-outline"></ion-icon> </ion-button>
        <ion-button expand="full" shape="round" color="danger" (click)= "volver()" >Salir<ion-icon name="exit-outline"></ion-icon></ion-button>
      </ion-label>

      </ion-card-content>

    <ion-col>
      
      
    </ion-col>
    </ion-card>

  <br>
</ion-content>
